* {
    margin: 0;
}

body {
    background-color: #508AA8;
    font-family: Arial, Helvetica, sans-serif;
    color: #031927;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
}

header h1 {
    font-size: calc(100px, 2rem);
    color: #BA1200 ;
    margin-bottom: 10px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

button {
    background: none;
    border-style: none;
}

.sb {
    color: #031927;
    font-size: 20px;
    text-align: center;
}

.statcont {
    display: flex;
    text-align: center;
    flex-direction: column;
}